<div class="tradingform">
  <h1>Make a Stock Trade</h1>
  
  <form [formGroup]="tradingForm" (ngSubmit)="onSubmit()">
    <div>
      <input type="text" formControlName="name" placeholder="Enter a stock name">
    </div>
  
    <div>
      <div>
        <button type="button" [class.active]="tradingForm.get('action')?.value === 'Buy'"
          (click)="tradingForm.get('action')?.setValue('Buy')">Buy</button>
        <button type="button" [class.active]="tradingForm.get('action')?.value === 'Sell'"
          (click)="tradingForm.get('action')?.setValue('Sell')">Sell</button>
      </div>
    </div>
  
    <div>
      <div>
        <button type="button" [class.active]="tradingForm.get('type')?.value === 'Dollar'"
          (click)="tradingForm.get('type')?.setValue('Dollar')">Dollar</button>
        <button type="button" [class.active]="tradingForm.get('type')?.value === 'Share'"
          (click)="tradingForm.get('type')?.setValue('Share')">Share</button>
      </div>
    </div>
  
    <div>
      <input type="number" id="amount" formControlName="amount" (input)="onAmountInput()" placeholder="Enter Quantity">
    </div>
  
    <div *ngIf="tradingForm.valid">
      <p>
        {{ tradingForm.value.action }}ing {{ tradingForm.value.amount }} {{ tradingForm.value.type }} of {{
        tradingForm.value.name }}.
      </p>
      <button type="submit">Submit</button>
    </div>
  </form>
</div>

